@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ask Me</h1>
    <p class="lead">A collaborative learning platform where you can have answers to all your questions.</p>
    
</div>

